select {
  background-color: transparent;
  color: gray;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 20px;
  padding: 20px; /* You can adjust this value */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed; /* Ensures that table columns take up available space evenly */
  word-wrap: break-word; /* Prevents text from overflowing */
  overflow: hidden; /* Prevents overflow */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  word-wrap: break-word; /* Ensures long text will wrap */
  overflow: hidden; /* Prevents any content from spilling out */
  text-overflow: ellipsis; /* Adds ellipsis for long text if wrapping doesn't fit */
}

th {
  background-color: rgb(246, 248, 255);
}

button {
  margin-top: 10px;
  background-color: transparent;
  color: grey;
}

textarea,
pre {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: monospace;
}

#charts-wrapper {
  display: none;
  gap: 30px;
  flex-direction: row;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  table {
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  th, td {
    padding: 6px; /* Adjust padding for smaller screens */
  }
}
#outputJson {
  overflow-x: auto; /* Enables horizontal scrolling */
}

